/* General setting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section {
    font-size: 3rem;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

::selection {
    background-color: #5f81ad;
}

span::selection,
button::selection {
    background-color: white;
}

section {
    color: #fff;
    background-color: rgb(5, 12, 41);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* End General Setting */
/* Start Navbar */
.navbar {
    width: 100%;
    height: 3.3rem;
    background-color: rgb(5, 12, 41);
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    padding-top: 0.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

/* Navbar logo */
.navbar .logo {
    position: absolute;
    left: 1rem;
    top: .3rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    text-align: center;
}

.navbar .logo a {
    color: #5f81ad;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    height: 3rem;
    width: 3rem;
    line-height: .7;
    border: .2rem solid #5f81ad;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-bottom: 1rem;
}

/* Navbar logo on mouse-over */
.navbar .logo a:hover,
.navbar .logo a:focus {
    background-color: transparent;
    color: #5f81ad;
    position: absolute;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-size: 1rem;
    top: -.3rem;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .85rem;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.navbar a.resume {
    border: #5f81ad 1px solid;
    margin-left: .3rem;
    padding: 1rem;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.navbar a.resume:hover {
    font-size: 1.1rem;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #5f81ad;
    border: transparent;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

/* End Navbar */
/* Start Hero Section */
section h1,
section p,
section h1 span,
section button {
    position: absolute;
}

section h1 span {
    font-size: 1.7rem;
    margin-top: -2rem;
    padding-left: 0.5rem;
    color: #5f81ad;


}

section p {
    font-size: 1.4rem;
    margin-top: 12rem;
}

/* Button in HERO Section */
section button {
    width: 200px;
    padding: 1.6rem;
    color: #5f81ad;
    background-color: rgb(5, 12, 41);
    border: 2px solid #5f81ad;
    margin-top: 23rem;
    cursor: pointer;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
    -webkit-border-radius: px;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

section button:hover,
section button:focus {
    padding-left: 2rem;
    box-shadow: 0px 8px 15px #5f81ad;
    transition: all 1.5s ease 0s;
    -webkit-transition: all 1.5s ease 0s;
    -moz-transition: all 1.5s ease 0s;
    -ms-transition: all 1.5s ease 0s;
    -o-transition: all 1.5s ease 0s;
}

/* End Hero Section */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }

    section h1 {
        margin-left: 5rem;
    }

    .navbar .logo a {
        display: none;
    }
}