/* General setting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



::selection {
    background-color: #5f81ad;
}

span::selection,
button::selection,
h2::selection {
    background-color: white;
}

section {
    height: 100vh;
    position: relative;
    color: #fff;
    background-color: rgb(5, 12, 41);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* End General Setting */
/* Start Navbar */
.navbar {
    width: 100%;
    height: 3.3rem;
    background-color: rgb(5, 12, 41);
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    padding-top: 0.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

/* Navbar logo */
.navbar .logo {
    position: absolute;
    left: 1rem;
    top: .3rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    text-align: center;
}

.navbar .logo a {
    color: #5f81ad;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    height: 3rem;
    width: 3rem;
    line-height: .7;
    border: .2rem solid #5f81ad;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-bottom: 1rem;
}

/* Navbar logo on mouse-over */
.navbar .logo a:hover,
.navbar .logo a:focus {
    background-color: transparent;
    color: #5f81ad;
    position: absolute;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-size: 1rem;
    top: -.3rem;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .85rem;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.navbar a.resume {
    border: #5f81ad 1px solid;
    margin-left: .3rem;
    padding: 1rem;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.navbar a.resume:hover {
    font-size: 1.1rem;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #5f81ad;
    border: transparent;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

/* End Navbar */
/* Start Hero Section */
#hero {
    font-size: 3rem;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

#hero h1,
#hero p,
#hero h1 span,
#hero button {
    position: absolute;
}

#hero h1 span {
    font-size: 1.7rem;
    margin-top: -2rem;
    padding-left: 0.5rem;
    color: #5f81ad;


}

#hero p {
    font-size: 1.4rem;
    margin-top: 12rem;
}

/* Button in HERO Section */
#hero button {
    width: 200px;
    padding: 1.6rem;
    color: #5f81ad;
    background-color: rgb(5, 12, 41);
    border: 2px solid #5f81ad;
    margin-top: 23rem;
    cursor: pointer;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
    -webkit-border-radius: px;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

#hero button:hover,
#hero button:focus {
    padding-left: 2rem;
    box-shadow: 0px 8px 15px #5f81ad;
    transition: all 1.5s ease 0s;
    -webkit-transition: all 1.5s ease 0s;
    -moz-transition: all 1.5s ease 0s;
    -ms-transition: all 1.5s ease 0s;
    -o-transition: all 1.5s ease 0s;
}

/* End Hero Section */
/* Start About Section */
#about {
    position: relative;
    height: 100vh;

}

#about h2 {
    text-align: center;
    padding: 2.8rem;
    font-weight: 500;
    color: #5f81ad;
    font-size: 3.5rem;
}

#about .inner {
    display: flex;
    width: 85%;
    height: 59vh;

    padding: .5rem;
    margin: auto;
    margin-top: -.1rem;
    border: transparent solid 1px;
}

#about .inner .about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 4rem;
    font-size: 1.2rem;
    line-height: 1.6;
    text-overflow: clip;
    overflow: hidden;
    border-top-left-radius: 12rem;
    background-color: rgb(5, 12, 41);
    border: 3px #5f81ad double;
    border-bottom-right-radius: 12rem;
    box-shadow: 0px 8px 15px #5f81ad;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

#about .inner .about-text:hover {
    box-shadow: none;

}

#about .inner .about-text span {
    color: #5f81ad;
}

#about .about-pic {
    width: 30%;
    height: 100%;
    margin-left: 6rem;
    overflow: hidden;
    border-radius: 4rem;
    border: 3px #5f81ad double;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    transition: 1.5s;
}

#about .about-pic:hover {
    margin-top: -1.2rem;

}

#about .about-pic .wrapper .image img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

#about .about-pic .wrapper .image img:hover,
#about .about-pic .wrapper .image:hover {

    opacity: 0.9;


}

/* End About Section */

@media screen and (max-width: 500px) {
    #about .inner {
        flex-direction: column;
        align-items: center;
    }

    #about .inner .about-text {
        width: 100%;
        height: 70%;
        font-size: .7rem;

    }

    #about .about-pic:hover {
        margin-top: 1.2rem;

    }

    #about .about-pic {
        width: 60%;
        height: 100%;
        margin-right: 6rem;
        margin-top: 2rem;
    }

    #about .inner {
        height: 80vh;
    }

    .navbar a {
        float: none;
        display: block;
    }

    #hero h1 {
        margin-left: 5rem;
    }

    .navbar .logo a {
        display: none;
    }

}

@media screen and (max-width: 760px) {
    #about .inner {
        flex-direction: column;
        align-items: center;
    }

    #about .inner .about-text {
        width: 100%;
        height: 70%;
        font-size: .7rem;

    }

    #about .about-pic:hover {
        margin-top: 1.2rem;

    }

    #about .about-pic {
        width: 60%;
        height: 100%;
        margin-right: 6rem;
        margin-top: 2rem;
    }

    #about .inner {
        height: 80vh;
    }
}

@media screen and (max-width:1024px) {
    #about .inner {
        flex-direction: column;
        align-items: center;
    }

    #about .inner .about-text {
        width: 100%;
        height: 70%;
        font-size: .7rem;

    }

    #about .about-pic:hover {
        margin-top: 1.2rem;

    }

    #about .about-pic {
        width: 60%;
        height: 100%;
        margin-right: 6rem;
        margin-top: 2rem;
    }

    #about .inner {
        height: 80vh;
    }
}